form {
    border: 1px solid black;
}
form h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid black;
}
button {
    padding: 20px;
    width: 100%;
}
.subscription {
    display: flex;
    justify-content: center;
    margin: 100px;
}
.input-data {
    padding: 20px;
}

.input-data input {
    padding: 10px 0px;
    width: 100%;

}

@media only screen and (min-width: 992px) {
    .responsive {  
        display: flex;        
    }
    .data-column {
        border: 1px solid lightgray;
    }
}