form {
    border: 1px solid black;
}
form h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid black;
}
label h2 {
    font-weight: bold;
}

button {
    padding: 20px;
    width: 100%;
}
.subscription-form {
    display: flex;
    justify-content: center;
    margin: 100px 0px;
}
.data-category {
    padding: 20px;
}
.data-category input {
    padding: 10px 0px;
    width: 100%;
}
.err-msg {
    color: red;
}

@media only screen and (min-width: 992px) {
    .desktop-responsive {  
        display: flex;        
    }
    .subscription-column2 {
        border-left: 1px solid black;
    }
}